<div class="w-4/5 mx-auto">
    <div class=" mx-auto w-72 border border-solid bg-white border-slate-700 shadow-md rounded">
        <div class="bg-slate-800 text-white p-3 text-lg">
            Chat
        </div>
        <div class="h-56 overflow-y-scroll">
            <ul class="list-none m-0 p-0"></ul>
        </div>
        <div class="flex items-center p-2 border border-solid border-t-slate-700">
            <input type="text" class="flex-1 p-1" placeholder="Type Message"/>
            <button class="border-none outline-none bg-slate-900 text-white px-2 py-1 cursor-pointer hover:bg-transparent hover:shadow hover:text-slate-900">Send</button>
        </div>
    </div>
</div>
